* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

/* Small Styles */
@media only screen and (max-width: 450px) {
  .pic {
    width: 100%;
	min-height: 50vh;	
    background-position: top center;  		  
    background-size: cover;          
  }
  .about {
	width: 100%;
    background: linear-gradient(to bottom, #f5e6d6 , white); 	
  }
}

/* Large Styles */
@media only screen and (min-width: 451px) {
  .pic {
    width: 50%;
	min-height: 100vh;
    background-position: top center;  	  
    background-size: cover;      
  }
  .about {
  	width: 50%;
  	max-width: 450px;
    background: linear-gradient(to right, #f5e6d6 , white); 
  }
}

.page {
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  font-size: 90%;
font-family: 'Open Sans', sans-serif;
  
  font-weight:normal;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  background-image: url("large.jpg");
  background-repeat: no-repeat;
}

.about {
  text-align: left;
  display: block;
}

h1 {
  margin: 20px;     
  font-size: 225%; 
  font-variant: small-caps; 
}

h2 {
  margin: 20px;    
  font-size: 115%;
  font-variant: small-caps;
}

p {
  margin: 20px;
  font-weight:normal;  
}

ul {
  list-style-position: inside;
  margin-left: 20px;
  padding: 0;

}

li {
  padding-left: 1.4em;
  text-indent: -1.4em;
}

.footer {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon {
  margin: 5%;
}

.icon img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.icon img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}